html {
  font-size: 14px;
  --main-color: #1ccc1e;
  --secondary-color:rgb(197, 255, 198);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

header h1 {
  margin: 0;
}
nav {
  background-color: var(--secondary-color);
  padding: 0 2rem 0 2rem;
}

nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #212529;
    text-decoration: none;
    color: #000000;
}

.navbar-brand {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.link-container ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.active-nav-item {
  border-bottom: 2px solid var(--main-color);
  background-color: #1ccc1e;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
}

main {
  margin: 20px;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #000000;
  opacity: 0.5;
}

.attention-links {
  color: #0080ff;
  text-decoration: underline;
}


.bg-custom {
  background-color: #e4ffb6;
}

.border-color {
  border: 2px solid var(--main-color);
}

.text-main {
  color: var(--main-color);
}
.bg-default{
  background-color: #e4ffb6;
  color: #2f691c;
}

.bg-attention{
  background-color: #ffe7af;
  color: #6d541c;
}

.bg-critical{
  background-color: #fbc4aa;
}

.bg-expired{
  background-color: #fcaaaa;
}

.bg-out{
  background-color: #eeeded;
  opacity: 0.8;
}

.bg-transparent {
  background-color: transparent;
}

.post-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.tag {
  background-color: #babaff;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 2px 0.66em 1px;
  text-transform: uppercase;
  border-radius: 5px;
}

  .tag a:hover {
      color: #6d6dfb;
  }

.post-date {
  margin-bottom: 5px;
}

.footer {
  color: #666;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}



/* Buttons */

.add-btn {
  transition: transform 330ms ease-in-out;
}

.add-btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(0.95);
}

.action-btn {
  background-color: transparent; 
  border: none;
  transition: transform 330ms ease-in-out;
}

.action-btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}

.action-btn i {
  font-size: 1.2rem; 
  color: green;
  transition: transform 100ms ease-in-out;
}

/* checkmark */

/* Remove checkmark defaul apperance */
input[type="checkbox"].custom {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  padding: 10px;
  border-radius: 99px;
  background-color: #aff0ff;
  transition: background-color 0.2s ease;
  transition: font-size 0.2s ease;
}

input[type="checkbox"].custom:checked + .custom-checkbox {
  background-color: #f0f0f0;
  font-size: 0.9rem;
}

input[type="checkbox"].custom + .custom-checkbox:hover {
  cursor: pointer;
  font-size: 1.001rem;
}

/* grocery list check box */

.grocery-list-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--main-color);
  border-radius: 100px;
}

/* filter check box */

input[type="checkbox"].filter {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.filter-checkbox {
  padding: 5px 10px;
  font-size: 0.95rem;
  border-radius: 99px;
  border: 2px solid rgb(138, 138, 138);
  opacity: 0.5;
  transition: border 0.2s ease;
  transition: opacity 0.2s ease;
  transition: font-size 0.2s ease;
}

input[type="checkbox"].filter:checked + .filter-checkbox {
  border: 2px solid var(--main-color);
  opacity: 1;
  font-size: 1.0rem;
}

input[type="checkbox"].filter + .filter-checkbox:hover {
  cursor: pointer;
}

/* Filter */

.filter-group {
  display: flex;
  flex: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  align-items: center;
}

.filter-dropdown {
  padding: 5px 10px;
  border-radius: 99px;
  border: 2px solid var(--main-color);
}

.filter-search {
  padding: 5px 10px;
  border-radius: 99px;
  border: 2px solid var(--main-color);
}

.filter-search input {
  border: none;
  padding: 0;
}

.filter-search input:focus-visible {
  outline: none;
}

.btn-standard {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}


/* grid */

.food-item-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns:  repeat(6, 1fr);
  grid-template-rows:  auto;
  margin-top: 2rem;
}

.food-item-grid > div {
  aspect-ratio: 1/ 1;
}

@media screen and (max-width: 600px) {
  .food-item-grid {
    display: grid;
    width: 100%;
    gap: 1.5rem;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows:  auto;
  }
}

/* Recipe cards */

.recipe-cards-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.recipe-cards {
  border: 1px solid black;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.recipe-cards:hover {
  border: 1px solid black;
  transform: scale(1.01);
}