@{
    ViewData["Title"] = "Home Page";
}

@{
    var hello = User.Claims.FirstOrDefault(v => v.Type == "name").Value;
}

@{
    foreach (var item in ViewBag.categories)
    {
        <p>@item</p>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@(hello)</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit">Logout</button>
    </form>
</div>
