@{
    ViewData["Title"] = "Home Page";
}

@{
    var hello = Guid.NewGuid();
}

@{
    foreach (var item in ViewBag.categories)
    {
        <p>@item</p>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@(hello)</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
